<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}


    <!-- main header -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="https://media.istockphoto.com/vectors/error-web-page-with-cute-cat-vector-id1305033045?k=20&m=1305033045&s=612x612&w=0&h=C6dFbNL2ScrR9jM_5hzg6qxyWPg0oYGMUa2e13tka8c=" alt="404 Error" class="img-fluid" title="404 Error">
                    </figure>
                </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>This is a<span class="span_text_clr"> 404 Error </span> page. </p>
                        <h1>Oops, Page<span class="span_text_clr"> Not </span>Found.</h1>
                        <a href="/"><button>Go Back!</button></a>
                    </div>

                    <!-- Right side dive -->
                    
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>