<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="https://media.istockphoto.com/vectors/man-portrait-avatar-vector-illustration-vector-id1255883829?k=20&m=1255883829&s=612x612&w=0&h=qQnPLuCeUZ8bC4518QBUUrnajFwGzOrT7v7seLpwt_8=" alt="Ritk" class="img-fluid" title="Ritik Rastogi">
                    </figure>
                </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>My name is <span class="span_text_clr"> Ritik Rastogi </span> . </p>
                        <h1>I am a <span class="span_text_clr"> MERN Stack Developer </span> Engineer</h1>
                        <a href=""><button>About Me</button></a>
                    </div>

                    <!-- Right side dive -->
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>