<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Friday</p>
                        <p id="today_data">14 OCT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    {{>footer}}
    
    <script src="js/main.js"></script>

    <script>
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wed";
            weekday[4] = "Thrusday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            days = weekday[currentTime.getDay()];
            const day = document.getElementById('day');
            
            day.innerText = days;
        };
        getCurrentDay();
    </script>

    <script>
        const date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        // This arrangement can be altered based on how we want the date's format to appear.
        let currentDate = `${day}-${month}-${year}`;
        const date = document.getElementById('today_data')

        today_data.innerText = currentDate;
    </script>
</body>
</html>