    <div class="container-fluid main_menu">
        <!-- this is the grid sytem of bootstrap -->
        <div class="row">
            <!-- col-md-10 this is for laptop screen
                 col-12 for mobile screen
                 mx-auto for center all thing -->
            <div class="col-md-10 col-12 mx-auto">

                <nav class="navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="/"> <i class="far fa-snowflake"></i> World'sWeather <i class="far fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- agar hme iske niche ki chize left me chaiye to yha 'mr' ki bdle 'ml' krna pdega -->
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="weather">weather</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About Us!</a>
                        </li>
                        
                      </ul>
                    </div>
                  </nav>

            </div>
        </div>

    </div>